.book-form{
    background: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
}
.form-control{
    background: #f2f2f2;
    border-bottom: 0;
}
.row{
    margin-top: 90px;
}
.date{
    margin-top: 5px;
}